<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>

<footer class="footer">
    <small>
<!--<!%= image_tag('logo.png', :alt => "Fashion Store Logo", :size => "40x40") %>-->
      <a href="home">Final Test | RAD Final Test</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Home", home_url %></li>
        <li><%= link_to "Help & Support"%></li>
        <!--<li><a href="https://www.rmit.edu.au/">RMIT</a></li>-->
      </ul>
    </nav>
</footer>